<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/reset.css" />
    <link rel="stylesheet" href="/static/style.css" />
    <title>게시판</title>
  </head>
  <body>
    <header class="header">
      <div class="container">
        <div class="divide-item"><div class="logo">logo</div></div>
        <div class="divide-item">
          <div class="login">로그인</div>
          <div class="register">회원가입</div>
        </div>
      </div>
    </header>
    <div class="container">
      <div class="sectioin">자유 게시판</div>
        <span>{{context}}</span>
      <div class="sectioin">
        <ul class="board-list">
          <li class="list-item">
            <a href="#" class="list-title">게시글 타이틀</a>
          </li>
          <li class="list-item">
            <a href="#" class="list-title">게시글 타이틀</a>
          </li>
          <li class="list-item">
            <a href="#" class="list-title">게시글 타이틀</a>
          </li>
          <li class="list-item">
            <a href="#" class="list-title">게시글 타이틀</a>
          </li>
          <li class="list-item">
            <a href="#" class="list-title">게시글 타이틀</a>
          </li>
          <li class="list-item">
            <a href="#" class="list-title">게시글 타이틀</a>
          </li>
        </ul>
        <div class="bottom-nav">
          <div class="empty nav-item"></div>
          <div class="pagenation nav-item">123456</div>
          <div class="create nav-item"></div>
            <a href="/create" class="create-article">글쓰기</a>
          </div>
        </div>
      </div>
      <footer class="footer">footer</footer>
    </div>
  </body>
</html>
