<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/reset.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/colors.css') }}"
    />
    {% block javascript %} {% endblock %}
    <title>{% block title %}게시판{% endblock %}</title>
  </head>
  <body>
    <header class="header">
      <nav class="container is-flex-row is-justify-content-space-between">
        <div class="is-flex-row is-align-items-center">
          <div class="logo-wrapper">
            <img
              class="logo"
              src="{{ url_for('static', filename='img/logo.jpg') }}"
            />
          </div>
        </div>
        <div class="is-flex-row is-align-items-center">
          <p class="center-logo font-size-4 font-weight-600">
            <a href="/" class="link">I WANT TO BELIEVE</a>
          </p>
        </div>
        {% block login %} {% if context.user == '' %}

        <div class="is-flex-row is-align-items-center">
          <div class="py-1">
            <a href="/login" class="btn">로그인</a>
          </div>
          <div class="py-1">
            <a href="/register" class="btn">회원가입</a>
          </div>
        </div>

        {% else %}

        <div id="user_profile_wrapper">
          <div class="nav-item is-flex-row is-align-items-center">
            <div class="py-1">
              <a href="/#" class="btn">{{ context.user.username }}</a>
            </div>
            <div class="py-1">
              <a href="/logout" class="btn">로그아웃</a>
            </div>
          </div>
        </div>

        {% endif %} {% endblock %}
      </nav>
    </header>

    <div class="container main-content">
      <div id="category" class="navbar">
        <a class="navbar-item">자유게시판</a>
        <a class="navbar-item">자유게시판</a>
        <a class="navbar-item">자유게시판</a>
        <a class="navbar-item">자유게시판</a>
        <a class="navbar-item">자유게시판</a>
        <a class="navbar-item">자유게시판</a>
      </div>
      <div class="body">
        <div class="content">{% block content %} {% endblock %}</div>
        {% block bottom_nav %}
        <div
          class="bottom-nav is-flex-row is-justify-content-space-between is-align-items-center"
        >
          <a href="#" class="btn">다음 페이지</a>
          <div class="pagenation nav-item">123456</div>
          {% if context.user == '' %}
          <a href="/edit/{{context.user.id}}" class="btn hidden"></a>
          {% else %}
          <a href="/edit/{{context.user.id}}" class="btn">글쓰기</a>
          {% endif %}
        </div>
        {% endblock %}
      </div>
    </div>
    <footer class="footer">footer</footer>
  </body>
</html>
