{% extends 'base.html' %} {% block javascript %}
<script defer src="{{ url_for('static', filename='js/edit.js') }}"></script>
{% endblock %} {% block title %} 글쓰기 {% endblock %} {% block content %}
<form action="/create" method="post">
  <input
    type="text"
    name="user_id"
    id="user_id"
    hidden
    value="{{context.user.id}}"
  />
  <div>
    <label for="title">제목</label>
    <input required type="text" name="title" id="title" maxlength="256" />
  </div>
  <div>
    <label class="form-content-text" for="content">본문</label>
    <input
      minlength="16"
      wrap="hard"
      required
      type="textarea"
      name="content"
      id="content"
    />
  </div>
  <div><input type="submit" value="글쓰기" /></div>
</form>

{% endblock %} {% block bottom_nav %} {% endblock %}
