<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>반가워요!</h1>

    <div>
      <form action="/result" method="POST">
        <p>당신이 가장 좋아하는 음식(김치)은 무엇입니까?</p>
        <p>
          내가 가장 좋아하는 음식은
          <input type="text" name="name" id="question_input" /> 입니다.
        </p>
        <input type="submit" value="입력" />
      </form>
    </div>
  </body>
</html>
