{% extends 'base.html' %} {% block content %}
<div class="list-wrapper">
  <ul class="list-group">
    {% for item in context.articles %}
    <li class="list-item is-flex-row is-justify-content-space-between">
      <div class="list-divider">
        <span class="date">{{item.created_at|today}}|</span>
        <span class="title">
          <a href="/article/{{ item.id }}" class="link">
            {{item.title}}</a
          ></span
        >
      </div>
      <div class="list-divider">
        <span class="list-item-divider">|</span>
        <span class="is-justify-content-center">작성자: {{item.username}}</span>
        <span class="list-item-divider">|</span>
        <span class="is-justify-content-center is-grey">조회수: 15</span>
      </div>
    </li>

    {% endfor %}
  </ul>
</div>

{% endblock %}
