<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/bootstrap.css" />
    <link rel="stylesheet" href="/static/style.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <ul class="list-group mt-4">
        {% for item in lst %}
        <li class="border border-primary my-1 list-group-item bg-success">
          <a href="person/{{ loop.index }}" class="text-light">
            {{item.name}}
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </body>
</html>
