{% extends 'base.html' %} {% block login %}
<div class="nav-item is-flex-row is-align-items-center hidden">
  <div class="py-1">
    <div href="/profile" class="btn hidden"></div>
  </div>
  <div class="py-1">
    <div href="/logout" class="btn hidden"></div>
  </div>
</div>
{% endblock %} {% block content %} {% if context.message %}
<div class="toast">{{ context.message }}</div>
{% else %}
<div class="toast hidden"></div>
{% endif %}

<form action="" method="POST">
  <div>
    <label for="username">닉네임</label>
    <input id="username" name="username" type="text" />
  </div>
  <div>
    <label for="email">이메일 주소</label
    ><input id="email" name="email" type="email" />
  </div>
  <div>
    <label for="password">비밀번호</label>
    <input id="password" name="password" type="password" />
  </div>
  <div>
    <label for="password-confirm">비밀번호 확인</label>
    <input id="password-confirm" name="password-confirm" type="password" />
  </div>
  <div><input name="submit" type="submit" value="회원 가입" /></div>
</form>

{% block bottom_nav %} {%endblock%} {% endblock %}
