.container {
  width: 1280px;
  margin-top: 0px;
  margin: auto;
  background-color: lightgray;
  border: 1px solid grey;
}

.divider {
  padding: 10px 0px;
}

.content {
  margin-top: 10px;
}

.form-content-text {
  padding: 20px 0px;
}
